!!! 5
html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/single-form.css')
        style
            .seperate { width:310px; }
    body
        section.wrapper
            header.main-hd
                a.name(href='/') Code Snippet
            section.content
                .main-bd
                    form#main-form(action="/login", method="post", autocomplete="on")
                        ul
                            li
                                label.ib(for="email") 用户名
                                input#email.txt(name="login_field", type="text", placeholder="用户名或邮箱", tabindex="1")
                            li
                                label.ib(for="passwd") 密&nbsp;&nbsp;&nbsp;码
                                input#passwd.txt(name="password", type="password", tabindex="2")
                            .seperate
                            a.signup(href="/register", title="还没有Code Snippet账号？立即注册！") 
                                label 注册
                            input.submit(type="button", value="登&nbsp;录", tabindex="3")
