extends tpl

block style_head
    link(rel='stylesheet', href='css/snippets.css')

block content
    section.snippet-upload
        header
            hgroup
                h2.entry-title
                    b &#10162;
                    | 代码上传
        form#snippet-form(action='/snippet-upload', method='POST')
            ul
                li
                    label(for='author') 作者:
                    input#author(type='text', name='author')
                li
                    label 代码语言：
                    select(name='type')
                        option('value=1') HTML
                        option('value=2', selected) CSS
                        option('value=3') Javascript
                        option('value=4') Java
                li
                    label(for='desc') 描述：
                    textarea#desc(name='description')
                li
                    label(for='html') HTML：
                    textarea#html(name='html-code')
                li
                    label(for='css') CSS：
                    textarea#css(name='css-code')
                li
                    label(for='js') JS：
                    textarea#js(name='js-code')
            input#snippet-submit(type='submit')

block script_foot
    script(src='js/new-snippets.js')
