extends tpl

block style_head
    link(rel='stylesheet', href='css/new-snippet.css')

block content
    section.snippet-upload
        header
            hgroup
                h2.entry-title
                    b &#10162;
                    | 代码上传
        form#snippet-form
            ul
                li
                    label.ib(for='author') 作者：
                    input.txt#author(type='text', name='author')
                li
                    label.ib(for='desc') 描述：
                    textarea.txt#desc(name='description')
                li
                    label.ib(for='html') HTML：
                    textarea.code.txt#html(name='html-code')
                li
                    label.ib 代码语言：
                    select
                        option(selected) HTML
                        option CSS
                        option Javascript
                        option Java
                    button.add-code-btn 添加
            .center
                input.btn_1#snippet-submit(type='submit')

block script_foot
    script(src='js/new-snippets.js')
