extends tpl

block style_head
    link(rel='stylesheet', href='css/snippets.css')

block nav
    nav.main-nav
        ul.list
            li.selected.f4 Effect
            li.f4 Code

block content
    section.effect-block
        - each snippet in snippets
            article.entry
                header
                    hgroup
                        h2.entry-title
                            b &#10162;
                            | #{snippet.title}
                            span.author #{snippet.author}
                        button.effect-btn 点击看效果
                section.entry-info
                    p.desc #{snippet.desc}
                section.code.HTML
                    h3 HTML
                    pre
                section.code.CSS
                    h3 CSS
                    pre
                section.code.JS
                    h3 Javascript
                    pre
                span.hide.snippet-id #{snippet._id}

block script_foot
    script(src='js/snippets.js')
