!!! 5
html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/common.css')
        block style_head
        block script_head
    body
        block header
            header.main-header
                hgroup
                    h1
                        a.site-title(href="/") 
                            | Code Snippets }
                            //- sup v 0.1
                ul.h-nav
                    - if (typeof user != 'undefined')
                        li.ib.tst-all-01
                            a(href="#")= user.username
                        li.ib.tst-all-01
                            a(href="/logout") 退出
                    - else
                        li.ib.tst-all-01
                            a(href="/login") 登录
                        li.ib.tst-all-01
                            a(href="/register") 注册
        block nav
            nav.main-nav
                ul.list2.list
                    li.f4
                        a.tst-all-02.new-btn.ib(href='/new-snippet') + New
                    - if (typeof type != 'undefined' && type==1)
                        li.f4.selected
                            a.ib.tst-all-02(href='/snippets?type=effect') Effect
                    - else
                        li.f4
                            a.ib.tst-all-02(href='/snippets?type=effect') Effect
                    - if (typeof type != 'undefined' && type==3)
                        li.f4.selected
                            a.ib.tst-all-02(href='/snippets?type=api') Code
                            ul.sub.list
                                each val, key in codeTypeList
                                    if (val)
                                        //- className = ['selected']
                                        li.selected
                                            a(href='###')= key
                                    else 
                                        //- className = []
                                        li
                                            a(href='/snippets?type=api&codetype='+key)= key
                    - else
                        li.f4
                            a.ib.tst-all-02(href='/snippets?type=api') Code
        section.con
            block content
        block footer
        script(src='/js/common.js')
        block script_foot
