!!! 5
html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/common.css')
        script
            var html5Tag = ["aside","footer","header","hgroup","nav","section","article","figcaption","figure"];
            for (var i in html5Tag) {
                document.createElement(html5Tag[i]);
            }
        block style_head
        block script_head
    body
        block header
            include includes/head
        block nav
            include includes/nav
        section.con
            block content
        section.others.clearfix
            block others
        block footer
        script(src='/js/core.js')
        block script_foot
