@charset 'utf-8';

html { min-height:100%; }
body { font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; }
.hide { display:none; }
.clearfix { *zoom:1; }
.clearfix:after { display:block; content:''; height:0; overflow:hidden; clear:both;  }

.fl { float:left; }
.fr { float:right; }
.tr { text-align:right; }
.tl { text-align:left; }
.relative { position:relative; }
.ib { display:inline-block; *display:inline; *zoom:1; }
.out-link:after { content:"\00BB"; display:inline; }
.hover-1:hover { background:#999; box-shadow:inset 0px 0px 4px #333; border-radius:3px; }
.pointer:hover { cursor:pointer; }
.center { text-align:center; }
a { color:#555; }
table { width:100%; }
th { font-weight:bold; }
th, td { position:relative; word-break:break-all; vertical-align:middle; }
button, input, select { font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; }

/* 颜色 */
.red { color:#FF6000; }

/* 宽度 */
.w100 { width:100px; }
.w200 { width:200px; }
.w400 { width:400px; }
.w600 { width:600px; }

/* 文本框样式 */
.txt { height:30px; padding-left:3px; border:1px solid #CCC; }
.txt:focus { background:#FFFCE5; }

/* 按钮样式 */
.btn_1 { border:3px solid #7CC0D3; background:lightblue; padding:10px 30px; font-size:18px; border-radius:8px; cursor:pointer; }
.btn_1:hover { background:#B3E5AE; }
.btn_1:active {}

body {
    background:linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-webkit-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-moz-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-ms-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-o-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
}

.con { position:relative; margin:20px auto; width:800px; background:white; box-shadow:0 5px 10px; }

.entry { padding-bottom:30px; }
.snippet-upload header, .entry header { box-shadow:0 4px 8px #999; margin-bottom:20px; }
.entry-title { padding-left:20px; background:#A0DAE8; border-top:3px solid #777; line-height:43px; font-size:24px; color:#333; }
.entry-title b { margin-right:10px; }
