@charset 'utf-8';

@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich'), url(/fonts/Aldrich) format('woff');
}

@font-face {
  font-family: 'Aubrey';
  font-style: normal;
  font-weight: 400;
  src: local('Aubrey'), local('Aubrey-Regular'), url(/fonts/Aubrey.woff) format('woff');
}

@font-face {
  font-family: 'Mr Bedfort';
  font-style: normal;
  font-weight: 400;
  src: local('Mr Bedfort'), local('MrBedfort-Regular'), url(/fonts/MrBedfort.woff) format('woff');
}
@font-face {
  font-family: 'Princess Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Princess Sofia'), local('PrincessSofia'), url(/fonts/PrincessSofia.woff) format('woff');
}
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(/fonts/Codystar.woff) format('woff');
}
@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda One'), local('MeriendaOne-Regular'), url(/fonts/MeriendaOne.woff) format('woff');
}

html { min-height:100%; }
body { font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; }
.hide { display:none; }
.clearfix { *zoom:1; }
.clearfix:after { display:block; content:''; height:0; overflow:hidden; clear:both;  }

.fl { float:left; }
.fr { float:right; }
.tr { text-align:right; }
.tl { text-align:left; }
.relative { position:relative; }
.ib { display:inline-block; *display:inline; *zoom:1; }
.out-link:after { content:"\00BB"; display:inline; }
.hover-1:hover { background:#999; box-shadow:inset 0px 0px 4px #333; border-radius:3px; }
.pointer:hover { cursor:pointer; }
.center { text-align:center; }
a { color:#555; }
table { width:100%; }
th { font-weight:bold; }
th, td { position:relative; word-break:break-all; vertical-align:middle; }
button, input, select { font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; }

/* 字体 */
.f1 { font-family:'Codystar',cursive; }
.f2 { font-family:'Princess Sofia',cursive; }
.f3 { font-family:'Mr Bedfort',cursive; }
.f4 { font-family: 'Merienda One', cursive; }

/* 颜色 */
.red { color:#FF6000; }

/* 宽度 */
.w100 { width:100px; }
.w200 { width:200px; }
.w400 { width:400px; }
.w600 { width:600px; }

/* 文本框样式 */
.txt { height:30px; padding-left:3px; border:1px solid #CCC; }
.txt:focus { background:#FFFCE5; }

/* 按钮样式 */
.btn_1 { border:3px solid #7CC0D3; background:lightblue; padding:10px 30px; font-size:18px; border-radius:8px; cursor:pointer; text-decoration:none; }
.btn_1:hover { background:#B3E5AE; }
.btn_1:active {}

body {
    background: #F0ECE9;
    background:linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-webkit-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-moz-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-ms-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
    background:-o-linear-gradient(top, #F8F5F2 40%, #D0CBC4);
}

.main-header { position:relative; width:800px; margin:10px auto; }
.main-hd .name, .main-header .site-title { font:70px Aubrey; color:#EEE; text-shadow:#999 2px 2px 2px, #333 -2px -2px 2px; text-decoration:none; }
.main-header .site-title sup { font-size:46px; vertical-align:top; margin-left:10px; }
.main-header hgroup, .main-header h1 { display:inline; }
.main-header .h-nav { position:absolute; right:0px; bottom:0px; }
.main-header .h-nav li { border-radius:3px; }
.main-header .h-nav li:hover { background:#999; box-shadow:inset 0px 0px 4px #333; }
.main-header .h-nav li a { -webkit-transition:all .1s ease-in; }
.main-header .h-nav li:hover a { color:#EEE; }
.main-header .h-nav li a { display:block; padding:0 10px; text-decoration:none; color:#555; height:22px; line-height:22px }

.con { position:relative; margin:10px auto; width:800px; background:white; box-shadow:0 5px 10px; }

.entry { padding-bottom:30px; }
.snippet-upload header, .entry header { box-shadow:0 4px 8px #999; margin-bottom:20px; }
.entry-title { padding-left:20px; background:#A0DAE8; border-top:3px solid #777; line-height:43px; font-size:24px; color:#333; }
.entry-title b { margin-right:10px; }

.main-nav { position:fixed; top:100px; margin-left:390px; left:50%; }
.main-nav .list1 li a { padding:15px 30px; width:105px; margin-bottom:-3px; border:3px dashed #555; border-radius:12px; cursor:pointer; font-size:30px; text-decoration:none; }
.main-nav .list1 li a:hover { text-decoration:underline; }
.main-nav .list1 .selected a { background:#CCC; box-shadow:inset 0 0 12px #333; text-shadow:0 0 8px black; color:white; }
.main-nav .list1 .en { padding-right:10px; font-size:30px; }

.main-nav .list2 { margin-left:30px; }
.main-nav .list2 li { margin-bottom:5px; }
.main-nav .list2 li a { display:inline-block; *display:inline; *zoom:1; padding:0 10px; border-radius:5px; min-width:90px; text-decoration:none; line-height:2; white-space:nowrap; }
.main-nav .list2 li a:hover { box-shadow:inset 0 0 10px #555; }
.main-nav .list2 .selected a { background:white; box-shadow:inset 0 0 10px #555; }

.main-nav .list2 .sub { text-align:right; }
.main-nav .list2 .sub li a { position:relative; background:none; padding-right:5px; width:auto; min-width:auto; box-shadow:none; }
.main-nav .list2 .sub li a:hover:before { content:"{"; position:absolute; left:0; }
.main-nav .list2 .sub li a:hover:after { content:"}"; position:absolute; right:-5px; }
.main-nav .list2 .sub .selected a { text-decoration:underline; }

.main-nav .list2 .new-btn {
    background:-webkit-radial-gradient(bottom left,200% 200%, #BFD255 0%,#8EB92A 45%,#72AA00 58%,#9ECB2D 100%);
    background:-o-radial-gradient(bottom left,200% 200%, #BFD255 0%,#8EB92A 45%,#72AA00 58%,#9ECB2D 100%);
    background:-ms-radial-gradient(bottom left,200% 200%, #BFD255 0%,#8EB92A 45%,#72AA00 58%,#9ECB2D 100%);
    background:-moz-radial-gradient(bottom left,200% 200%, #BFD255 0%,#8EB92A 45%,#72AA00 58%,#9ECB2D 100%);
    background:radial-gradient(bottom left,200% 200%, #BFD255 0%,#8EB92A 45%,#72AA00 58%,#9ECB2D 100%);
    text-shadow: 1px 0 2px #333;
    box-shadow: inset 0 0 2px #333;
    color: white;
}
.main-nav .list2 .new-btn:hover { box-shadow: inset 0 0 8px #333; }
.main-nav .list2 .new-btn:active { box-shadow: inset 0 0 10px #000; }

/* 小块样式 */
.warning-tip { margin:10px 20px; line-height:2; }

/* CSS3 */
.tst-all-01 {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.tst-all-02 {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
