@charset 'utf-8';

.entry-title .title { text-decoration:none; }
.entry-title .title:hover { text-decoration:underline; }
.entry .author { float:right; margin:8px 8px 0 0; padding:0 5px; line-height:1.8; background:#FFDEA3; border-radius:5px; box-shadow:inset 0 1px 5px #999; font-size:16px; color:#555; text-decoration:underline; }
.entry .date { float:right; margin:8px 0; padding:0 5px; font-size:14px; border-radius:5px; background:#EEE; box-shadow:inset 0 0 5px #555; line-height:2; }
.entry .effect-btn { float:right; background:#CB8F42; border:0; cursor:pointer; height:46px; font-size:14px; color:#333; width:100px; }
.entry .effect-btn:hover { background:#c58c42; }
.entry .effect-btn:active { background:#ac814a; }
.entry-info .desc { position:relative; margin:22px 22px 10px; padding:36px 20px 10px; border:3px solid #D6D4AE; line-height:1.5; white-space:pre; word-wrap:break-word; }
.entry-info .desc:before { content:"Description"; font-family:'Mr Bedfort',cursive; position:absolute; top:-10px; left:-10px; background:white; color:#555; font-weight:bold; font-size:30px; text-indent:0; }
.entry-info .desc p { text-indent:2em; }
.code { position:relative; padding:20px 30px 40px; margin:0 22px -3px; border:3px dashed #99d035; }
.code pre { position:relative; padding:40px 30px; line-height:1.2; word-wrap:break-word; }
.code .type-bg { position:absolute; right:15px; bottom:5px; color:#99d035; font-weight:bold; font-family:'Codystar',cursive,Microsoft YaHei, Arial,Helvetica,sans-serif; font-size:50px; }
.code h3 { position:absolute; background:#99d035; width:80px; padding:3px 10px; top:-3px; left:-3px; border-radius:0 0 5px; color:white; font-size:16px; }

.mod-btn-con { position:absolute; padding:3px; left:-100px; }
.mod-btn-con .mod-btn { display:inline-block; opacity:0; visibility:hidden; text-decoration:none; background:url(/img/pencil.png) center; box-shadow:inset 0 0 5px; border-radius:40px; width:80px; height:80px; }
.mod-btn-con .mod-btn:hover { box-shadow:inset 0 0 10px; }
.mod-btn-con .mod-btn:active { box-shadow:inset 0 0 15px; }

.tips { color:#777; font-size:14px; }

/* 遮罩效果 */
.mask { position:fixed; *position:absolute; height:100%; width:100%; top:0; background:black; opacity:.4; filter:alpha(opacity=40); z-index:5; }
.mask p { padding:0 20px; font-size:50px; color:#CCC; width:320px; line-height:1.5; border:5px solid; text-align:center; }
.av-center { position:absolute; left:50%; top:50%; margin:-44px 0 0 -165px; }

/* 投票页 */
.opt-list { margin:15px 0; }
.opt-list li { line-height:2; border-bottom:2px dashed #CCC; }
.opt-list li:hover { box-shadow:0 0 8px #999; border-bottom-color:white; }
.opt-list input[name=opt] { margin-top:10px; vertical-align:top; }
.opt-list li .description { display:inline-block; margin-left:5px; width:660px; cursor:pointer; word-break:break-all; }

/* 投票结果页 */
.result-list { margin-top:15px; }
.result-list li { line-height:2; margin-bottom:5px; }
.result-list .description { display:inline-block; width:345px; text-align:right; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.result-list .per-blk { margin:0 5px; vertical-align:bottom; height:32px; background:lightblue; border:2px solid #555; border-top:none; border-bottom:none; }
.result-list .tips { margin-top:30px; border-top:1px dashed #CCC; }
.result-section { padding-bottom:10px; }
