nav.main-nav
    ul.list2.list
        li.f4
            a.tst-all-02.new-btn.ib(href='/netease/week-report/new') + New Report
        - if (typeof showReportsBtn != 'undefined' && showReportsBtn)
            li.f4
                a.ib.tst-all-02(href='/netease/week-report') Reports
