extends ../tpl

block style_head
    link(rel='stylesheet', href='/css/snippets.css')

block nav
    include nav

block content
    article.entry
        header
            hgroup
                h2.entry-title
                    b &#10162;
                    span.title 周报汇总
        section.code
            h3 Summary
            - var preClass = ['brush:html;', 'toolbar:false;gutter:false;']
            pre(class=preClass)
                - each report in reports
                    h2 
                        | /**
                        |  * @author 
                        = report.author.username
                        | 
                        |  * @date 
                        = report.date.getFullYear() + '年' + (report.date.getMonth()+1) + '月' + report.date.getDate() + '日' + report.date.getHours() + ':' + report.date.getMinutes()
                        |   
                        |  */
                    h4 【上周回顾】
                    p= report.lastWeek
                    h4 【本周计划】
                    p= report.thisWeek
            b.type-bg Summary
